body {
    background-image: url("./Assets/Firefly\ Create\ an\ image\ of\ an\ epic\ sci-fi\ adventure\,\ drawing\ inspiration\ from\ the\ John\ Carter\ series.jpg");
}

.main col-sm {
    width: 200px;
    height: 200px;
}

